TOKEN=EAAH2glH0VnEBO5WD8dTzKZCqvESHj8Shq4Cs1XZAdhb5xcqD8VF8wWfCJ7GckrgCcKVf1ZCmAJKyCL9Szu0OZBygEkMfvXfYcprp0DwJTgoaoC1PPZC35CFsEyup56CjxzT0rKaKT7chusKjelUyeOaBpLlqGJgoHD6MMuG9qF2kmG0st97N7LaNk4cmQCAZAmjZCyjZB7xbCgZDZD
PAGE_ID=61574827764801
OPENAI_API_KEY=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
VERIFY_TOKEN=yhTGbnyt56YGBhy
PORT=8080